ERROR
<h1><%if(typeof locals.message != 'undefined') {%><%= message %><%}%></h1>
<h2><%if(typeof locals.error != 'undefined') {%><%= error.status %><%}%></h2>
<pre><%if(typeof locals.error != 'undefined') {%><%= error.stack %><%}%></pre>
