a(href="/logout" id="more" class="pull-right text-muted link")
	=__('button.logout')

a(href="#" data-lang="pl" class="pull-right text-muted link")
	=__('button.lang.pl')
span(class="pull-right text-muted")
	='|'
a(href="#" data-lang="en" class="pull-right text-muted link")
	=__('button.lang.en')
