<div class="row">
	<div class="col-md-8 col-sm-8">
		<form id="url-form" role="form" method="post" action="/" style="margin-bottom: 10px;">
		  	<div class="input-group">
		      <input class="form-control" placeholder="Ścieżka" type="text" id="url" name="url" value="<%if(typeof form.url != 'undefined'){%><%=form.url%><%}%>" />
		      <span class="input-group-btn">
		        <button id="save" type="button" class="btn btn-primary">Zapisz</button>
		      </span>
		    </div>
			<% if(typeof locals.message != 'undefined') { %>
				<div class="validation-message-container">
				<span class="validation-message" style="color: #a00;"><%=message%></span>
				</div>
			<% } %>    
			<input type="hidden" name="socketid" id="socketid"/>
		</form>
	</div>
	<div class="col-md-4 col-sm-4">
		  	<div class="input-group">
		      <input class="form-control" placeholder="Szukaj" type="text" id="search" name="search" autofocus="autofocus" />
		      <span class="input-group-btn">
		        <button id="search-clear" type="clear" class="btn btn-default">
		        <span class="glyphicon glyphicon-remove"></span>
		        </button>
		        <button id="search-btn" type="button" class="btn btn-primary">Szukaj</button>
		      </span>
		    </div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div id="progress" class="progress" style="margin-top: 10px; display:none;">
		  <div id="progress-el" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
		  </div>
		</div>
	</div>
</div>