div(class="row")
	div(class="col-md-8 col-sm-8")
		include header.pug
	div(class="col-md-4 col-sm-4")
		div(class="input-group")
			input(class="form-control" placeholder="Szukaj" type="text" id="search" name="search" autofocus="autofocus")
			span(class="input-group-btn")
				button(id="search-clear" type="clear" class="btn btn-default")
					span(class="glyphicon glyphicon-remove")
				button(id="search-btn" type="button" class="btn btn-primary") Szukaj

ul(id="tabs" class="nav nav-tabs" data-tabs="tabs")
	li(class="active")
		a(href="#url-tab" data-toggle="tab") Dodaj ścieżkę
	li
		a(href="#upload-tab" data-toggle="tab") Dodaj plik

div(id="my-tab-content" class="tab-content")
	div(class="tab-pane fade in active" id="url-tab" role="tabpanel")
		div(class="row")
			div(class="col-md-12 col-sm-12")
				form(id="url-form" role="form" method="post" action="/" style="margin-bottom: 10px;")
					div(class="input-group form-group")
						input(class="form-control" placeholder="Ścieżka" type="text" id="url" name="url" value=typeof form.url != 'undefined'?form.url:'' required="required")
						span(class="input-group-btn")
							button(id="save" type="button" class="btn btn-primary") Zapisz

					div(class="form-group")
						input(type="text" autocomplete="off" name="tags" class="typeahead-off form-control" id="tags1" placeholder="Lista tagów oddzielonych znakiem ,")

					if typeof locals.message != 'undefined'
						div(class="validation-message-container")
							span(class="validation-message" style="color: #a00;") 
								=message
					input(type="hidden" name="socketid" id="socketid")

	div(class="tab-pane fade" id="upload-tab" role="tabpanel")
		div(class="row")
			div(class="col-md-12 col-sm-12")
				form(id="upload-form" role="form" method="post" action="/upload" enctype="multipart/form-data" style="margin-bottom: 10px;")
					div(class="input-group form-group")
						label(class="btn btn-default form-control")
							span Wybierz
							input(type="file" name="file" id="file" placeholder="Plik" style="display: none;" onchange="$(this).prev('span').text($(this).val()!=''?$(this).val():'Wybierz')" required="required")
						span(class="input-group-btn")
							button(id="upload" type="submit" class="btn btn-primary") Upload
					div(class="form-group")
						input(type="text" name="tags" class="form-control" id="tags2" placeholder="Lista tagów oddzielonych znakiem ,")
					input(type="hidden" name="socketid" id="socketid")

div(class="row")
	div(class="col-md-12")
		div(id="progress" class="progress" style="margin-top: 10px; display:none;")
			div(id="progress-el" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;")

