include top.pug
include form.pug
div(id="list")
	include list.pug	
a(href="#" id="more" class="text-muted") Załaduj więcej
a(href="/logout" id="more" class="pull-right text-muted") Wyloguj

input(type="hidden" class="store" name="tag" value="")
input(type="hidden" class="store" name="search" value="")
input(type="hidden" class="store" name="page" value="")

include bottom.pug
script.
	loadHash();
	loadList();