include top.pug
include form.pug

include footer.pug

input(type="hidden" class="store" name="tag" value="")
input(type="hidden" class="store" name="search" value="")
input(type="hidden" class="store" name="page" value="")

include bottom.pug
script.
	loadHash();
	loadList();