<% include top.ejs %>
<% include form.ejs %>
<div id="list"><% include list.ejs %></div>
<a href="#" id="more" class="text-muted">Załaduj więcej</a>
<% include bottom.ejs %>
<script>
$('#list').load('/list');
</script>