if typeof urls != 'undefined' && urls.length > 0
	div(class="panel panel-default" style="margin-top: 10px;")
		input(type="hidden" id="page" value=typeof page != 'undefined'?page:'1')
		div(class="panel-heading") Ścieżki
		table(class="table")
			tbody
				each url,i in urls
					tr
						td
							a(href="/get/"+url._id)
								if typeof url.title != 'undefined' && url.title 
									=url.title
								else
									=url.url
							if typeof urls[i].type != 'undefined'
								=' '+url.type
							each tag,j in url.tags
								if tag != null
									span(class="pull-right text-muted")
										a(class="tag text-muted" href="#" data-tag=encodeURIComponent(tag.name))
											=tag.name
										if j!=0
											=','
										else
											=''
						td(class="text-right")
							if typeof urls[i].share_id == 'undefined' || true
								a(href="#" class="share" data-id=url._id) 
									i(class="icon-share-alt")
						td(class="text-right")
							a(target="_blank" class=(typeof url.upload != 'undefined' && !url.upload)||(url.url.indexOf('http')==0) ? '' :'hidden' href=url.url) &raquo;

	script.
		$('a.tag').on('click', function(){
			$('input[name="tag"]').val(decodeURIComponent($(this).data('tag')));
			updateHash();
			loadList();
			return false;
		});		
		var loadPagePlus = function() {
			var page = parseInt($('#page').val());
			$('#list').load('/list/'+ ++page+'?search='+encodeURIComponent($('#search').val()));		
		}		
		$('#more').on('click', function(){
			loadPagePlus();
			return false;
		});
		$(window).scroll(function() {
			if($(window).scrollTop() == $(document).height() - $(window).height()) {
				loadPagePlus();
			}
		});
		$('a.share').on('click', function(){
			$('#modal-body').html('');
			$.post('/share/'+$(this).data('id'), function(data, status, jqXHR){
				if(data.share_id!=null) {
					$('#modal-body').html('Link do zasobu:<br/><a target="_blank" href="/share/'+data.share_id+'" >/share/'+data.share_id+'</a>');
				} else {
					$('#modal-body').html('Udostępnianie zasobu wyłączone.');
				}
				$('#myModal').modal();
				console.log(data);
			}).fail(function(s){
				console.log(s);
			});
			return false;
		});		

	a(href="#" id="more" class="text-muted") Załaduj więcej

// link dialog
#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
	.modal-dialog(role='document')
		.modal-content
			div(class="modal-body" id="modal-body")
				| ...
			.modal-footer
				button.btn.btn-default(type='button', data-dismiss='modal') Zamknij
