if typeof urls != 'undefined' && urls.length > 0
	div(class="panel panel-default" style="margin-top: 10px;")
		input(type="hidden" id="page" value=typeof page != 'undefined'?page:'1')
		div(class="panel-heading") Ścieżki
		table(class="table")
			tbody
				each url,i in urls
					tr
						td
							a(href="/get/"+url._id)
								if typeof url.title != 'undefined' && url.title 
									=url.title
								else
									=url.url
							if typeof urls[i].type != 'undefined'
								=' '+url.type
							each tag,j in url.tags
								if tag != null
									span(class="pull-right text-muted")
										a(class="tag text-muted" href="#" data-tag=encodeURIComponent(tag.name))
											=tag.name
										if j!=0
											=','
										else
											=''
						td(class="text-right")
							a(target="_blank" class=(typeof url.upload != 'undefined' && !url.upload)||(url.url.indexOf('http')==0) ? '' :'hidden' href=url.url) &raquo;

	script.
		$('a.tag').on('click', function(){
			$('input[name="tag"]').val(decodeURIComponent($(this).data('tag')));
			updateHash();
			loadList();
			return false;
		});		
		var loadPagePlus = function() {
			var page = parseInt($('#page').val());
			$('#list').load('/list/'+ ++page+'?search='+encodeURIComponent($('#search').val()));		
		}		
		$('#more').on('click', function(){
			loadPagePlus();
			return false;
		});
		$(window).scroll(function() {
			if($(window).scrollTop() == $(document).height() - $(window).height()) {
				loadPagePlus();
			}
		});

	a(href="#" id="more" class="text-muted") Załaduj więcej