!='<!DOCTYPE html>'
html(lang="pl")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title my.cloud
		script(src="/javascripts/jquery.min.js")
		script(src="/javascripts/main.js")
		script(src="/javascripts/jquery.cookie.js")
		script(type="text/javascript" src="/socket.io/socket.io.js")
		link(rel="stylesheet" href="/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css")
		link(rel="stylesheet" href="/stylesheets/font-awesome.min.css")
		<!--[if IE 7]>
		link(rel="stylesheet" href="/stylesheets/font-awesome-ie7.min.css")
		<![endif]-->		
		script(src="/bootstrap/js/bootstrap.min.js")
		<!--[if lt IE 9]>
		script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
		script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
		<![endif]-->		
		script(src="/bootstrap/js/bootstrap-typeahead.min.js")
		script(src="jquery-ui/jquery-ui.min.js")
		link(rel="stylesheet" type="text/css" href="jquery-ui/jquery-ui.min.css")
		link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")
		script(src="/javascripts/i18next.min.js")
	!='<body><div class="container">'