!='<!DOCTYPE html>'
html(lang="pl")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title my.cloud
		script(src="/javascripts/jquery.min.js")
		script(src="/javascripts/main.js")
		script(src="/javascripts/jquery.cookie.js")
		script(type="text/javascript" src="/socket.io/socket.io.js")
		link(rel="stylesheet" href="/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css")
		link(rel="stylesheet" href="/stylesheets/font-awesome.min.css")
		<!--[if IE 7]>
		link(rel="stylesheet" href="/stylesheets/font-awesome-ie7.min.css")
		<![endif]-->		
		script(src="/bootstrap/js/bootstrap.min.js")
		<!--[if lt IE 9]>
		script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
		script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
		<![endif]-->		
		script(src="/bootstrap/js/bootstrap-typeahead.min.js")
		script(src="jquery-ui/jquery-ui.min.js")
		link(rel="stylesheet" type="text/css" href="jquery-ui/jquery-ui.min.css")
		link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")
	!='<body>'

	nav(class="navbar navbar-inverse navbar-fixed-top")
		div(class="container")
			div(class="navbar-header")
				button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
					span(class="sr-only") Toggle navigation
					span(class="icon-bar")
					span(class="icon-bar")
					span(class="icon-bar")
				a(href="/" class="navbar-brand" style="text-decoration: none")
					i(class="icon-cloud")
					=' my.cloud'						
			div(id="navbar" class="navbar-collapse collapse")
				form(class="navbar-form navbar-right form-inline "+(!logged?'hidden':''))
					div(class="form-group")
						input(class="form-control" placeholder="Szukaj" type="text" id="search" name="search" autofocus="autofocus")
					button(id="search-clear" type="clear" class="btn btn-default")
						span(class="glyphicon glyphicon-remove")
					button(id="search-btn" type="button" class="btn btn-primary") Szukaj							

	!='<div class="container">'