body {
	padding-top: 20px;
	padding-bottom: 20px;
}

.tag {
	padding-left: 5px;
}

.nav-tabs {
	margin-top: 10px;
	margin-bottom: 15px;
}

li.ui-menu-item {
	border: 1px solid silver;
	background-color: #fff;
}

@media (max-width: 480px) { 
    .nav-tabs > li {
        float:none;
        border: 1px solid #ddd;
        border-radius: none;
    }
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
		border: none !important;
	}
}

.to-bottom {
    display: inline-block;
    vertical-align: bottom;
    float: none;
}
a.link {
	padding-left: 5px;
	padding-right: 5px;
}